#loading{
  z-index: 100000;
}

#loading span{
  font-size: 3rem;
  color:rgb(149, 87, 231);
  animation: loading 2s infinite;
}

@keyframes loading {
  0%{
    opacity: 0;
    transform: translate3d(-25px, 0, 0);
  }
  50%{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100%{
    opacity: 0;
    transform: translate3d(25px, 0, 0);
  }
}