@import url(modal-style.css);
@import url(tasks-style.css);
@import url(create-tasks-style.css);
@import url(system-container-style.css);
@import url(side-bar-style.css);
@import url(animation-style.css);
@import url(modal-delete-style.css);
@import url(modal-edit-style.css);
@import url(dashboard-style.css);
/* @import url(modal-loading-style.css); */

*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

body{
    background: #1a1a1a;
    color: white;
}

.container{
    display: grid;
    grid-template-columns: 350px 1fr;
}

html ::-webkit-scrollbar {
    width: 10px;
  }
  html ::-webkit-scrollbar-thumb {
  
    background: rgb(149, 87, 231);
  }
  html ::-webkit-scrollbar-track {
    background: #1a1a1a;
  }

@media only screen and (max-width: 1000px){
    .container{
        grid-template-columns: 40px 1fr;
    }
}
